VITE_SUPABASE_URL=https://bdsvpyyiysydzdjwpluc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkc3ZweXlpeXN5ZHpkandwbHVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2MjkwNzAsImV4cCI6MjEwMzIwNTA3MH0.UcuidrnG7-mPD47a9vCn05ILhrgemCZeZY3Wl043wIY